# HUGGINGFACE_API_KEY: Required for Hugging Face OCR tasks.
HUGGINGFACE_API_KEY=""

# GROQ_API_KEY: Required for Groq AI inference.
GROQ_API_KEY_1=""
GROQ_API_KEY_2=""

# APP_URL: The URL where the application is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL=""

# SUPABASE
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
